// SPDX-License-Identifier: (GPL-2.0 OR MIT)
/* Copyright (c) 2023 StarFive Technology Co., Ltd. */

#include "dubhe.dtsi"

&cpu0 {
	compatible = "starfive,dubhe-80", "riscv";
	d-cache-block-size = <64>;
	d-cache-sets = <512>;
	d-cache-size = <32768>;
	d-tlb-sets = <1>;
	d-tlb-size = <48>;
	i-cache-block-size = <64>;
	i-cache-sets = <512>;
	i-cache-size = <32768>;
	i-tlb-sets = <1>;
	i-tlb-size = <48>;
	next-level-cache = <&l2_cache0>;
};

&cpu1 {
	compatible = "starfive,dubhe-80", "riscv";
	d-cache-block-size = <64>;
	d-cache-sets = <512>;
	d-cache-size = <32768>;
	d-tlb-sets = <1>;
	d-tlb-size = <48>;
	i-cache-block-size = <64>;
	i-cache-sets = <512>;
	i-cache-size = <32768>;
	i-tlb-sets = <1>;
	i-tlb-size = <48>;
	next-level-cache = <&l2_cache1>;
};

&l2_cache0 {
	compatible = "starfive,dubhe-l2cache", "cache";
	cache-sets = <512>;
	cache-size = <0x40000>;
};

&l2_cache1 {
	compatible = "starfive,dubhe-l2cache", "cache";
	cache-sets = <512>;
	cache-size = <0x40000>;
};
