// SPDX-License-Identifier: (GPL-2.0 OR MIT)
/* Copyright (c) 2021 StarFive Technology Co., Ltd. */

#include "dubhe.dtsi"

/ {
	model = "StarFive Dubhe FPGA";

	aliases {
		ethernet0 = &gmac0;
		serial0 = &uart0;
	};

	chosen {
		bootargs = "console=ttySIF0,115200 earlycon=sbi";
	};

	cpus {
		timebase-frequency = <25000000>;

	};

	memory@80000000 {
		device_type = "memory";
		reg = <0x0 0x80000000 0x2 0x0>;
	};

	reserved-memory {
		#address-cells = <2>;
		#size-cells = <2>;
		ranges;

		dma-reserved@260000000 {
			reg = <0x2 0x60000000 0x0 0x20000000>;
			no-map;
		};

		linux,dma@660000000 {
			compatible = "shared-dma-pool";
			reg = <0x6 0x60000000 0x0 0x20000000>;
			no-map;
			linux,dma-default;
		};
	};

	soc {

		fpga_2p5mhz_clk: fpga_2p5mhz_clk {
			compatible = "fixed-clock";
			#clock-cells = <0>;
			clock-frequency = <2500000>;
		};

		fpga_50mhz_clk: fpga_50mhz_clk {
			compatible = "fixed-clock";
			#clock-cells = <0>;
			clock-frequency = <50000000>;
		};
	};
};

&l2_cache {
	compatible = "starfive,dubhe-cache", "cache";
};

&gmac0 {
	phy-mode = "rgmii-id";
	phy-handle = <&ethernet_phy0>;
	clocks = <&fpga_2p5mhz_clk>,
		 <&fpga_2p5mhz_clk>,
		 <&fpga_2p5mhz_clk>,
		 <&fpga_50mhz_clk>,
		 <&fpga_50mhz_clk>,
		 <&fpga_2p5mhz_clk>;

	mdio0 {
		compatible = "snps,dwmac-mdio";
		#address-cells = <1>;
		#size-cells = <0>;
		ethernet_phy0: ethernet-phy@0 {
			reg = <0>;
			max-speed = <10>;
		};
	};
};

&spi0 {
	status = "okay";
	mmc@0 {
		compatible = "mmc-spi-slot";
		reg = <0>;
		spi-max-frequency = <20000000>;
		voltage-ranges = <3300 3300>;
		disable-wp;
	};
};

&qspi1 {
	status = "okay";
};

&uart0 {
	status = "okay";
};
