// SPDX-License-Identifier: (GPL-2.0 OR MIT)
/* Copyright (c) 2021 StarFive Technology Co., Ltd. */

/dts-v1/;

/ {
	#address-cells = <2>;
	#size-cells = <2>;
	compatible = "starfive,dubhe";

	cpus {
		#address-cells = <1>;
		#size-cells = <0>;

		cpu@0 {
			compatible = "starfive,dubhe", "riscv";
			d-cache-block-size = <64>;
			d-cache-sets = <128>;
			d-cache-size = <65536>;
			device_type = "cpu";
			i-cache-block-size = <64>;
			i-cache-sets = <512>;
			i-cache-size = <65536>;
			i-tlb-sets = <1>;
			i-tlb-size = <32>;
			mmu-type = "riscv,sv48";
			reg = <0x0>;
			riscv,isa = "rv64imafdcbhnv";
			tlb-split;
			cpu0_intc: interrupt-controller {
				#interrupt-cells = <1>;
				compatible = "riscv,cpu-intc";
				interrupt-controller;
			};
		};

		cpu@1 {
			compatible = "starfive,dubhe", "riscv";
			d-cache-block-size = <64>;
			d-cache-sets = <128>;
			d-cache-size = <65536>;
			device_type = "cpu";
			i-cache-block-size = <64>;
			i-cache-sets = <512>;
			i-cache-size = <65536>;
			i-tlb-sets = <1>;
			i-tlb-size = <32>;
			mmu-type = "riscv,sv48";
			reg = <0x1>;
			riscv,isa = "rv64imafdcbhnv";
			tlb-split;
			cpu1_intc: interrupt-controller {
				#interrupt-cells = <1>;
				compatible = "riscv,cpu-intc";
				interrupt-controller;
			};
		};
	};

	soc {
		#address-cells = <2>;
		#size-cells = <2>;
		compatible = "simple-bus";
		ranges;

		clint: clint@2000000 {
			#interrupt-cells = <1>;
			compatible = "riscv,clint0";
			reg = <0x0 0x2000000 0x0 0x10000>;
			interrupts-extended = <&cpu0_intc 3>,
					      <&cpu0_intc 7>,
					      <&cpu1_intc 3>,
					      <&cpu1_intc 7>;
		};

		pbus_clk: subsystem_pbus_clock {
			#clock-cells = <0>;
			clock-frequency = <50000000>;
			clock-output-names = "pbus_clock";
			compatible = "fixed-clock";
		};

		plic0: interrupt-controller@c000000 {
			#interrupt-cells = <1>;
			compatible = "riscv,plic0";
			reg = <0x0 0xc000000 0x0 0x4000000>;
			riscv,max-priority = <15>;
			riscv,ndev = <25>;
			interrupt-controller;
			interrupts-extended = <&cpu0_intc 11>,
					      <&cpu0_intc 9>,
					      <&cpu1_intc 11>,
					      <&cpu1_intc 9>;
		};

		spi0: spi@10000000 {
			compatible = "sifive,spi0";
			reg = <0x0 0x10000000 0x0 0x1000>;
			interrupt-parent = <&plic0>;
			interrupts = <7>;
			clocks = <&pbus_clk>;
			#address-cells = <1>;
			#size-cells = <0>;
			status = "disabled";
		};

		qspi1: spi@10010000 {
			compatible = "sifive,spi0";
			reg = <0x0 0x10010000 0x0 0x1000>,
			      <0x0 0x20000000 0x0 0x8000000>;
			interrupt-parent = <&plic0>;
			interrupts = <6>;
			clocks = <&pbus_clk>;
			#address-cells = <1>;
			#size-cells = <0>;
			status = "disabled";
		};

		uart0: serial@10012000 {
			compatible = "sifive,uart0";
			interrupt-parent = <&plic0>;
			interrupts = <5>;
			reg = <0x0 0x10012000 0x0 0x1000>;
			clocks = <&pbus_clk>;
			status = "disabled";
		};

		pmu {
			compatible = "riscv,pmu";
			riscv,event-to-mhpmevent = <0x00005 0x0000 0x1B>,
				<0x00006 0x0000 0x1C>,
				<0x00008 0x0000 0x24>,
				<0x00009 0x0000 0x23>,
				<0x10000 0x0000 0x93>,
				<0x10001 0x0000 0x94>,
				<0x10002 0x0000 0x99>,
				<0x10003 0x0000 0x9A>,
				<0x10008 0x0000 0x14>,
				<0x10009 0x0000 0x15>,
				<0x1000C 0x0000 0x18>,
				<0x1000D 0x0000 0x19>,
				<0x10010 0x0000 0xB2>,
				<0x10011 0x0000 0xB3>,
				<0x10012 0x0000 0xB4>,
				<0x10013 0x0000 0xB5>,
				<0x10018 0x0000 0x9F>,
				<0x10019 0x0000 0xA0>,
				<0x10020 0x0000 0x14>,
				<0x10021 0x0000 0x10>;

			riscv,event-to-mhpmcounters = <0x00005 0x00006 0x00007FF8>,
				<0x00008 0x00009 0x00007FF8>,
				<0x10000 0x10003 0x00007FF8>,
				<0x10008 0x10009 0x00007FF8>,
				<0x1000C 0x1000D 0x00007FF8>,
				<0x10010 0x10013 0x00007FF8>,
				<0x10018 0x10019 0x00007FF8>,
				<0x10020 0x10021 0x00007FF8>;

			riscv,raw-event-to-mhpmcounters =		      /* Event */
				<0x00 0x00 0xFFFFFFFF 0xFFFFFFE0 0x00007FF8>, /* 1-31 */
				<0x00 0x20 0xFFFFFFFF 0xFFFFFFF8 0x00007FF8>, /* 32-39 */
				<0x00 0x28 0xFFFFFFFF 0xFFFFFFFC 0x00007FF8>, /* 40-43 */
				<0x00 0x2C 0xFFFFFFFF 0xFFFFFFFE 0x00007FF8>, /* 44-45 */
				<0x00 0x36 0xFFFFFFFF 0xFFFFFFFE 0x00007FF8>, /* 54-55 */
				<0x00 0x38 0xFFFFFFFF 0xFFFFFFF8 0x00007FF8>, /* 56-63 */
				<0x00 0x40 0xFFFFFFFF 0xFFFFFFFE 0x00007FF8>, /* 64-65 */
				<0x00 0x4A 0xFFFFFFFF 0xFFFFFFFE 0x00007FF8>, /* 74-75 */
				<0x00 0x4C 0xFFFFFFFF 0xFFFFFFFC 0x00007FF8>, /* 76-79 */
				<0x00 0x50 0xFFFFFFFF 0xFFFFFFF8 0x00007FF8>, /* 80-87 */
				<0x00 0x58 0xFFFFFFFF 0xFFFFFFFC 0x00007FF8>, /* 88-91 */
				<0x00 0x64 0xFFFFFFFF 0xFFFFFFFC 0x00007FF8>, /* 100-103 */
				<0x00 0x68 0xFFFFFFFF 0xFFFFFFFC 0x00007FF8>, /* 104-107 */
				<0x00 0x6C 0xFFFFFFFF 0xFFFFFFFE 0x00007FF8>, /* 108-109 */
				<0x00 0x76 0xFFFFFFFF 0xFFFFFFFE 0x00007FF8>, /* 118-119 */
				<0x00 0x78 0xFFFFFFFF 0xFFFFFFFC 0x00007FF8>, /* 120-123 */
				<0x00 0x7C 0xFFFFFFFF 0xFFFFFFFE 0x00007FF8>, /* 124-125 */
				<0x00 0x86 0xFFFFFFFF 0xFFFFFFFE 0x00007FF8>, /* 134-135 */
				<0x00 0x88 0xFFFFFFFF 0xFFFFFFF8 0x00007FF8>, /* 136-143 */
				<0x00 0x90 0xFFFFFFFF 0xFFFFFFF0 0x00007FF8>, /* 144-159 */
				<0x00 0xA0 0xFFFFFFFF 0xFFFFFFF8 0x00007FF8>, /* 160-167 */
				<0x00 0xA8 0xFFFFFFFF 0xFFFFFFFE 0x00007FF8>, /* 168-169 */
				<0x00 0xB2 0xFFFFFFFF 0xFFFFFFFE 0x00007FF8>, /* 178-179 */
				<0x00 0xB4 0xFFFFFFFF 0xFFFFFFFC 0x00007FF8>, /* 180-183 */
				<0x00 0xB8 0xFFFFFFFF 0xFFFFFFFC 0x00007FF8>, /* 184-187 */
				<0x00 0xC4 0xFFFFFFFF 0xFFFFFFFC 0x00007FF8>, /* 196-199 */
				<0x00 0xC8 0xFFFFFFFF 0xFFFFFFF8 0x00007FF8>, /* 200-207 */
				<0x00 0xD0 0xFFFFFFFF 0xFFFFFFF8 0x00007FF8>, /* 208-215 */
				<0x00 0xD8 0xFFFFFFFF 0xFFFFFFFE 0x00007FF8>, /* 216-217 */
				<0x00 0xDA 0xFFFFFFFF 0xFFFFFFFF 0x00007FF8>; /* 218 */
		};
	};
};
