// SPDX-License-Identifier: (GPL-2.0 OR MIT)
/* Copyright (c) 2021 StarFive Technology Co., Ltd. */

#include "dubhe.dtsi"

&cpu0 {
	compatible = "starfive,dubhe-90", "riscv";
	d-cache-block-size = <64>;
	d-cache-sets = <1024>;
	d-cache-size = <65536>;
	d-tlb-sets = <1>;
	d-tlb-size = <48>;
	i-cache-block-size = <64>;
	i-cache-sets = <1024>;
	i-cache-size = <65536>;
	i-tlb-sets = <1>;
	i-tlb-size = <48>;
};

&cpu1 {
	compatible = "starfive,dubhe-90", "riscv";
	d-cache-block-size = <64>;
	d-cache-sets = <1024>;
	d-cache-size = <65536>;
	d-tlb-sets = <1>;
	d-tlb-size = <48>;
	i-cache-block-size = <64>;
	i-cache-sets = <1024>;
	i-cache-size = <65536>;
	i-tlb-sets = <1>;
	i-tlb-size = <48>;
};

&l2_cache {
	compatible = "starfive,dubhe-cache", "cache";
};
