// SPDX-License-Identifier: GPL-2.0 OR MIT
/*
 * Copyright (C) 2022 StarFive Technology Co., Ltd.
 * Copyright (C) 2022 Hal Feng <hal.feng@starfivetech.com>
 */

/dts-v1/;
#include "jh7110.dtsi"
#include "jh7110-evb-pinctrl.dtsi"

/ {
	aliases {
		gpio0 = &gpio;
		serial0 = &uart0;
		serial3 = &uart3;
	};

	chosen {
		linux,initrd-start = <0x0 0x46100000>;
		linux,initrd-end = <0x0 0x4c000000>;
		stdout-path = "serial0:115200";
		#bootargs = "debug console=ttyS0 rootwait";
	};

	cpus {
		timebase-frequency = <4000000>;
	};

	memory@40000000 {
		device_type = "memory";
		reg = <0x0 0x40000000 0x1 0x0>;
	};

	reserved-memory {
		#address-cells = <2>;
		#size-cells = <2>;
		ranges;

		linux,cma {
			compatible = "shared-dma-pool";
			reusable;
			size = <0x0 0x20000000>;
			alignment = <0x0 0x1000>;
			alloc-ranges = <0x0 0x80000000 0x0 0x20000000>;
			linux,cma-default;
		};
	};
};

&uart0 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart0_pins>;
	status = "okay";
};

&uart1 {
       pinctrl-names = "default";
       pinctrl-0 = <&uart1_pins>;
       status = "disabled";
};

&uart2 {
       pinctrl-names = "default";
       pinctrl-0 = <&uart2_pins>;
       status = "disabled";
};

&uart3 {
       pinctrl-names = "default";
       pinctrl-0 = <&uart3_pins>;
       status = "disabled";
};

&uart4 {
       pinctrl-names = "default";
       pinctrl-0 = <&uart4_pins>;
       status = "disabled";
};

&uart5 {
       pinctrl-names = "default";
       pinctrl-0 = <&uart5_pins>;
       status = "disabled";
};
&spdif_transmitter {
	status = "disabled";
};
