// SPDX-License-Identifier: GPL-2.0 OR MIT
/*
 * Copyright (C) 2022 StarFive Technology Co., Ltd.
 * Copyright (C) 2022 Emil Renner Berthing <kernel@esmil.dk>
 */

/dts-v1/;
#include "jh7110-common.dtsi"
#include <dt-bindings/leds/common.h>

/ {
	aliases {
		ethernet1 = &gmac1;
	};

	reserved-memory {
		#address-cells = <2>;
		#size-cells = <2>;
		ranges;

		linux,cma {
			compatible = "shared-dma-pool";
			reusable;
			size = <0x0 0x20000000>;
			alignment = <0x0 0x1000>;
			alloc-ranges = <0x0 0x70000000 0x0 0x20000000>;
			linux,cma-default;
		};

		e24_mem: e24@c0000000 {
			reg = <0x0 0x6ce00000 0x0 0x1600000>;
		};

		xrp_reserved: xrpbuffer@f0000000 {
			reg = <0x0 0x69c00000 0x0 0x01ffffff
				0x0 0x6bc00000 0x0 0x00001000
				0x0 0x6bc01000 0x0 0x00fff000
				0x0 0x6cc00000 0x0 0x00001000>;
		};
	};

	leds {
		compatible = "gpio-leds";

		led-ack {
			gpios = <&aongpio 3 GPIO_ACTIVE_HIGH>;
			color = <LED_COLOR_ID_GREEN>;
			function = LED_FUNCTION_HEARTBEAT;
			linux,default-trigger = "heartbeat";
			label = "ack";
		};
	};

	sound1: snd-card1 {
		compatible = "simple-audio-card";
		#address-cells = <1>;
		#size-cells = <0>;

		simple-audio-card,name = "Starfive-HDMI-Sound-Card";
		simple-audio-card,dai-link@0 {
			reg = <0>;
			format = "i2s";
			bitclock-master = <&sndi2s0>;
			frame-master = <&sndi2s0>;
			mclk-fs = <256>;
			status = "okay";

			sndi2s0: cpu {
				sound-dai = <&i2stx0>;
			};

			codec {
				sound-dai = <&hdmi>;
			};
		};
	};

	ac108_mclk: ac108_mclk {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <24000000>;
	};

	clk_ext_camera: clk-ext-camera {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <24000000>;
	};

	wm8960_mclk: wm8960_mclk {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <24576000>;
	};
};

&gmac1 {
	phy-handle = <&phy1>;
	phy-mode = "rgmii-id";
	status = "okay";

	mdio {
		#address-cells = <1>;
		#size-cells = <0>;
		compatible = "snps,dwmac-mdio";

		phy1: ethernet-phy@1 {
			reg = <0>;
		};
	};
};

&i2c2 {
	seeed_plane_i2c@45 {
		compatible = "seeed_panel";
		reg = <0x45>;

		clock = <27000>;  //
		hdisplay = /bits/ 16 <800>;
		hsync_start = /bits/ 16 <890>;  // 800 + 90
		hsync_end = /bits/ 16 <895>;  // 800 + 90 + 5
		htotal = /bits/ 16 <900>;  // 800 + 90 + 5 + 5
		vdisplay = /bits/ 16 <480>;
		vsync_start = /bits/ 16 <540>;  // 480 + 60
		vsync_end = /bits/ 16 <545>;  // 480 + 60 + 5
		vtotal = /bits/ 16 <550>;  // 480 + 60 + 5 + 5
		dsi_dlanes = /bits/ 16 <1>;
		dsi_bitrate =/bits/ 32 <660000000>;
		dsi_hsa = /bits/ 16 <120>;
		dsi_hbp = /bits/ 16 <118>;
		dsi_hfp = /bits/ 16 <112>;
		dsi_hact = /bits/ 16 <2400>;

		port {
			panel_out0: endpoint {
				remote-endpoint = <&dsi0_output>;
			};
		};
	};

	tinker_ft5406: tinker_ft5406@38 {
		compatible = "tinker_ft5406";
		reg = <0x38>;
	};

	touchscreen@14 {
		compatible = "goodix,gt911";
		reg = <0x14>;
		irq-gpios = <&sysgpio 30 GPIO_ACTIVE_HIGH>;
		reset-gpios = <&sysgpio 31 GPIO_ACTIVE_HIGH>;
	};

	panel_radxa@19 {
		compatible ="starfive_jadard";
		reg = <0x19>;
		reset-gpio = <&sysgpio 23 0>;
		enable-gpio = <&sysgpio 22 0>;

		port {
			panel_out1: endpoint {
				remote-endpoint = <&dsi1_output>;
			};
		};
	};
};

&i2c6 {
	imx219: imx219@10 {
		compatible = "sony,imx219";
		reg = <0x10>;
		clocks = <&clk_ext_camera>;
		clock-names = "xclk";
		reset-gpio = <&sysgpio 18 0>;
		rotation = <0>;
		orientation = <1>; //CAMERA_ORIENTATION_BACK

		port {
			/* CSI2 bus endpoint */
			imx219_to_csi2rx0: endpoint {
				remote-endpoint = <&csi2rx0_from_imx219>;
				bus-type = <4>;      /* MIPI CSI-2 D-PHY */
				clock-lanes = <4>;
				data-lanes = <0 1>;
				lane-polarities = <0 0 0>;
				link-frequencies = /bits/ 64 <456000000>;
			};
		};
	};

	imx708: imx708@1a {
		compatible = "sony,imx708";
		reg = <0x1a>;
		clocks = <&clk_ext_camera>;
		reset-gpio = <&sysgpio 18 0>;

		port {
			imx708_to_csi2rx0: endpoint {
				remote-endpoint = <&csi2rx0_from_imx708>;
				data-lanes = <1 2>;
				clock-noncontinuous;
				link-frequencies = /bits/ 64 <450000000>;
			};
		};
	};

	ov4689: ov4689@36 {
		compatible = "ovti,ov4689";
		reg = <0x36>;
		clocks = <&clk_ext_camera>;
		clock-names = "xclk";
		rotation = <180>;

		port {
			/* Parallel bus endpoint */
			ov4689_to_csi2rx0: endpoint {
				remote-endpoint = <&csi2rx0_from_ov4689>;
				bus-type = <4>;		/* MIPI CSI-2 D-PHY */
				clock-lanes = <0>;
				data-lanes = <1 2>;
			};
		};
	};
};

&i2srx {
	pinctrl-names = "default";
	pinctrl-0 = <&i2s_clk_pins &i2srx_pins>;
	status = "disabled"; 
};


&i2stx0 {
	pinctrl-names = "default";
	pinctrl-0 = <&mclk_ext_pins>;
	status = "okay";
};

&i2stx1 {
	pinctrl-names = "default";
	pinctrl-0 = <&i2stx1_pins>;
	status = "disabled";
};

&mmc0 {
	non-removable;
};

&pcie0 {
	status = "okay";
};

&pcie1 {
	status = "okay";
};

&sysgpio {
	hdmi_pins: hdmi-0 {
		scl-pins {
			pinmux = <GPIOMUX(0, GPOUT_SYS_HDMI_DDC_SCL,
					     GPOEN_SYS_HDMI_DDC_SCL,
					     GPI_SYS_HDMI_DDC_SCL)>;
			bias-pull-up;
			input-enable;
		};

		sda-pins {
			pinmux = <GPIOMUX(1, GPOUT_SYS_HDMI_DDC_SDA,
					     GPOEN_SYS_HDMI_DDC_SDA,
					     GPI_SYS_HDMI_DDC_SDA)>;
			bias-pull-up;
			input-enable;
		};

		cec-pins {
			pinmux = <GPIOMUX(14, GPOUT_SYS_HDMI_CEC_SDA,
					      GPOEN_SYS_HDMI_CEC_SDA,
					      GPI_SYS_HDMI_CEC_SDA)>;
			bias-pull-up;
			input-enable;
		};

		hpd-pins {
			pinmux = <GPIOMUX(15, GPOUT_LOW,
					      GPOEN_DISABLE,
					      GPI_SYS_HDMI_HPD)>;
			bias-disable; /* external pull-up */
			input-enable;
		};
	};

	i2srx_pins: i2srx-0 {
		clk-sd-pins {
			pinmux = <GPIOMUX(38, GPOUT_LOW,
					      GPOEN_DISABLE,
					      GPI_SYS_I2SRX_BCLK)>,
				 <GPIOMUX(63, GPOUT_LOW,
					      GPOEN_DISABLE,
					      GPI_SYS_I2SRX_LRCK)>,
				 <GPIOMUX(38, GPOUT_LOW,
					      GPOEN_DISABLE,
					      GPI_SYS_I2STX1_BCLK)>,
				 <GPIOMUX(63, GPOUT_LOW,
					      GPOEN_DISABLE,
					      GPI_SYS_I2STX1_LRCK)>,
				 <GPIOMUX(61, GPOUT_LOW,
					      GPOEN_DISABLE,
					      GPI_SYS_I2SRX_SDIN0)>;
			input-enable;
		};
	};

        i2s_clk_pins: i2s-clk-0 {
                bclk-lrck-pins {
                        pinmux = <GPIOMUX(38, GPOUT_LOW,
                                              GPOEN_DISABLE,
                                              GPI_SYS_I2STX1_BCLK)>,
                                 <GPIOMUX(38, GPOUT_LOW,
                                              GPOEN_DISABLE,
                                              GPI_SYS_I2SRX_BCLK)>,
                                 <GPIOMUX(63, GPOUT_LOW,
                                              GPOEN_DISABLE,
                                              GPI_SYS_I2STX1_LRCK)>,
                                 <GPIOMUX(63, GPOUT_LOW,
                                              GPOEN_DISABLE,
                                              GPI_SYS_I2SRX_LRCK)>;
                        input-enable;
                };
        };

	i2stx1_pins: i2stx1-0 {
		sd-pins {
			pinmux = <GPIOMUX(44, GPOUT_SYS_I2STX1_SDO0,
					      GPOEN_ENABLE,
					      GPI_NONE)>;
			bias-disable;
			input-disable;
		};
	};

	mclk_ext_pins: mclk-ext-0 {
		mclk-ext-pins {
			pinmux = <GPIOMUX(4, GPOUT_LOW,
					     GPOEN_DISABLE,
					     GPI_SYS_MCLK_EXT)>;
			input-enable;
		};
	};

	tdm_pins: tdm-0 {
		tx-pins {
			pinmux = <GPIOMUX(44, GPOUT_SYS_TDM_TXD,
					      GPOEN_ENABLE,
					      GPI_NONE)>;
			bias-pull-up;
			drive-strength = <2>;
			input-disable;
			input-schmitt-disable;
			slew-rate = <0>;
		};

		rx-pins {
			pinmux = <GPIOMUX(61, GPOUT_HIGH,
					      GPOEN_DISABLE,
					      GPI_SYS_TDM_RXD)>;
			input-enable;
		};

		sync-pins {
			pinmux = <GPIOMUX(63, GPOUT_HIGH,
					      GPOEN_DISABLE,
					      GPI_SYS_TDM_SYNC)>;
			input-enable;
		};

		pcmclk-pins {
			pinmux = <GPIOMUX(38, GPOUT_HIGH,
					      GPOEN_DISABLE,
					      GPI_SYS_TDM_CLK)>;
			input-enable;
		};
	};
};

&tdm {
	pinctrl-names = "default";
	pinctrl-0 = <&tdm_pins>;
	status = "disabled";
};

&display {
	ports = <&dc_out_dpi0>;
	status = "okay";
};

&dc8200 {
	status = "okay";

	dc_out: port {
		#address-cells = <1>;
		#size-cells = <0>;
		dc_out_dpi0: endpoint@0 {
			reg = <0>;
			remote-endpoint = <&hdmi_input0>;
		};
		dc_out_dpi1: endpoint@1 {
			reg = <1>;
			remote-endpoint = <&hdmi_in_lcdc>;
		};

		dc_out_dpi2: endpoint@2 {
			reg = <2>;
			remote-endpoint = <&mipi_in>;
		};
	};
};

&hdmi {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&hdmi_pins>;
	hpd-gpio = <&sysgpio 15 GPIO_ACTIVE_HIGH>;
	hdmi_0p9-supply = <&hdmi_0p9>;
	hdmi_1p8-supply = <&hdmi_1p8>;

	hdmi_in: port {
		#address-cells = <1>;
		#size-cells = <0>;
		hdmi_in_lcdc: endpoint@0 {
			reg = <0>;
			remote-endpoint = <&dc_out_dpi1>;
		};
	};
};

&rgb_output {
	status = "disabled";

	ports {
		#address-cells = <1>;
		#size-cells = <0>;
		port@0 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <0>;
			hdmi_input0:endpoint@0 {
				reg = <0>;
				remote-endpoint = <&dc_out_dpi0>;
			};
		};
	};
};

&dsi_output {
	status = "okay";

	ports {
		#address-cells = <1>;
		#size-cells = <0>;

		port@0 {
			reg = <0>;
			mipi_in: endpoint {
				remote-endpoint = <&dc_out_dpi2>;
			};
		};

		port@1 {
			reg = <1>;
			sf_dpi_output: endpoint {
				remote-endpoint = <&dsi_in_port>;
			};
		};
	};
};

&mipi_dsi {
	status = "okay";

	ports {
		#address-cells = <1>;
		#size-cells = <0>;

		port@0 {
			reg = <0>;
			#address-cells = <1>;
			#size-cells = <0>;

			dsi0_output: endpoint@0 {
				reg = <0>;
				remote-endpoint = <&panel_out0>;
			};

			dsi1_output: endpoint@1 {
				reg = <1>;
				remote-endpoint = <&panel_out1>;
			};

		};

		port@1{
			reg = <1>;
			dsi_in_port: endpoint {
				remote-endpoint = <&sf_dpi_output>;
			};
		};

	};
};

&mipi_dphy {
	status = "okay";
};

&co_process {
	memory-region = <&e24_mem>;
	status = "okay";
};

&mailbox_contrl0 {
	status = "okay";
};

&mailbox_client0 {
	status = "okay";
};

&vpu_dec {
	status = "okay";
};

&vpu_enc {
	status = "okay";
};

&jpu {
	status = "okay";
};

&gpu {
	status = "okay";
};

&vin_sysctl {
	/* when use dvp open this pinctrl*/
	status = "okay";
	mipi_0p9-supply = <&mipi_0p9>;

	ports {
		#address-cells = <1>;
		#size-cells = <0>;

		port@1 {
			reg = <1>;
			#address-cells = <1>;
			#size-cells = <0>;

			/* CSI2 bus endpoint */
			csi2rx0_from_imx219: endpoint@0 {
				reg = <0>;
				remote-endpoint = <&imx219_to_csi2rx0>;
				bus-type = <4>;      /* MIPI CSI-2 D-PHY */
				clock-lanes = <4>;
				data-lanes = <0 1>;
				lane-polarities = <0 0 0>;
				status = "okay";
			};

			csi2rx0_from_imx708: endpoint@1 {
				reg = <1>;
				remote-endpoint = <&imx708_to_csi2rx0>;
				bus-type = <4>;      /* MIPI CSI-2 D-PHY */
				clock-lanes = <4>;
				data-lanes = <0 1>;
				lane-polarities = <0 0 0>;
				status = "okay";
			};

			csi2rx0_from_ov4689: endpoint@2 {
				reg = <2>;
				remote-endpoint = <&ov4689_to_csi2rx0>;
				bus-type = <4>;      /* MIPI CSI-2 D-PHY */
				clock-lanes = <4>;
				data-lanes = <0 1>;
				status = "okay";
			};
		};
	};
};
