// SPDX-License-Identifier: GPL-2.0 OR MIT
/*
 * Copyright (C) 2022 StarFive Technology Co., Ltd.
 * Copyright (C) 2022 Hal Feng <hal.feng@starfivetech.com>
 */

/dts-v1/;
#include "jh7110.dtsi"
#include "jh7110-evb-pinctrl.dtsi"

/ {
	aliases {
		gpio0 = &gpio;
		ethernet0=&gmac0;
		ethernet1=&gmac1;
		serial0 = &uart0;
		serial3 = &uart3;
		i2c0 = &i2c0;
		i2c1 = &i2c1;
		i2c2 = &i2c2;
		i2c3 = &i2c3;
		i2c4 = &i2c4;
		i2c5 = &i2c5;
		i2c6 = &i2c6;
	};

	chosen {
		linux,initrd-start = <0x0 0x46100000>;
		linux,initrd-end = <0x0 0x4c000000>;
		stdout-path = "serial0:115200";
		#bootargs = "debug console=ttyS0 rootwait";
	};

	cpus {
		timebase-frequency = <4000000>;
	};

	memory@40000000 {
		device_type = "memory";
		reg = <0x0 0x40000000 0x1 0x0>;
	};

	reserved-memory {
		#address-cells = <2>;
		#size-cells = <2>;
		ranges;

		linux,cma {
			compatible = "shared-dma-pool";
			reusable;
			size = <0x0 0x20000000>;
			alignment = <0x0 0x1000>;
			alloc-ranges = <0x0 0x80000000 0x0 0x20000000>;
			linux,cma-default;
		};
	};
};

&uart0 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart0_pins>;
	status = "okay";
};

&uart1 {
       pinctrl-names = "default";
       pinctrl-0 = <&uart1_pins>;
       status = "disabled";
};

&uart2 {
       pinctrl-names = "default";
       pinctrl-0 = <&uart2_pins>;
       status = "disabled";
};

&uart3 {
       pinctrl-names = "default";
       pinctrl-0 = <&uart3_pins>;
       status = "disabled";
};

&uart4 {
       pinctrl-names = "default";
       pinctrl-0 = <&uart4_pins>;
       status = "disabled";
};

&uart5 {
       pinctrl-names = "default";
       pinctrl-0 = <&uart5_pins>;
       status = "disabled";
};

&trng {
	status = "okay";
};

&i2c0 {
	clock-frequency = <100000>;
	i2c-sda-hold-time-ns = <300>;
	i2c-sda-falling-time-ns = <510>;
	i2c-scl-falling-time-ns = <510>;
	auto_calc_scl_lhcnt;
	pinctrl-names = "default";
	pinctrl-0 = <&i2c0_pins>;
	status = "disabled";
};

&i2c1 {
	clock-frequency = <100000>;
	i2c-sda-hold-time-ns = <300>;
	i2c-sda-falling-time-ns = <510>;
	i2c-scl-falling-time-ns = <510>;
	auto_calc_scl_lhcnt;
	pinctrl-names = "default";
	pinctrl-0 = <&i2c1_pins>;
	status = "disabled";
};

&i2c2 {
	clock-frequency = <100000>;
	i2c-sda-hold-time-ns = <300>;
	i2c-sda-falling-time-ns = <510>;
	i2c-scl-falling-time-ns = <510>;
	auto_calc_scl_lhcnt;
	pinctrl-names = "default";
	pinctrl-0 = <&i2c2_pins>;
	status = "okay";

	tinker_ft5406: tinker_ft5406@38 {
		compatible = "tinker_ft5406";
		reg = <0x38>;
	};
};

&i2c3 {
	clock-frequency = <100000>;
	i2c-sda-hold-time-ns = <300>;
	i2c-sda-falling-time-ns = <510>;
	i2c-scl-falling-time-ns = <510>;
	auto_calc_scl_lhcnt;
	pinctrl-names = "default";
	pinctrl-0 = <&i2c3_pins>;
	status = "disabled";
};

&i2c4 {
	clock-frequency = <100000>;
	i2c-sda-hold-time-ns = <300>;
	i2c-sda-falling-time-ns = <510>;
	i2c-scl-falling-time-ns = <510>;
	auto_calc_scl_lhcnt;
	pinctrl-names = "default";
	pinctrl-0 = <&i2c4_pins>;
	status = "okay";
};

&i2c5 {
	clock-frequency = <100000>;
	i2c-sda-hold-time-ns = <300>;
	i2c-sda-falling-time-ns = <510>;
	i2c-scl-falling-time-ns = <510>;
	auto_calc_scl_lhcnt;
	pinctrl-names = "default";
	pinctrl-0 = <&i2c5_pins>;
	status = "okay";
};

&i2c6 {
	clock-frequency = <100000>;
	i2c-sda-hold-time-ns = <300>;
	i2c-sda-falling-time-ns = <510>;
	i2c-scl-falling-time-ns = <510>;
	auto_calc_scl_lhcnt;
	pinctrl-names = "default";
	pinctrl-0 = <&i2c6_pins>;
	status = "okay";
};

&spdif_transmitter {
	status = "disabled";
};

&mailbox_contrl0 {
	status = "okay";
};

&mailbox_client0 {
	status = "okay";
};

&jpu {
	status = "okay";
};

&vpu_dec {
	status = "okay";
};

&vpu_enc {
	status = "okay";
};

&gmac0 {
	status = "okay";
	#address-cells = <1>;
	#size-cells = <0>;
	phy0: ethernet-phy@0 {
		rxc_dly_en = <1>;
		tx_delay_sel_fe = <5>;
		tx_delay_sel = <0xb>;
		tx_inverted_10 = <0x0>;
		tx_inverted_100 = <0x0>;
		tx_inverted_1000 = <0x0>;
	};
};

&gmac1 {
	#address-cells = <1>;
	#size-cells = <0>;
	status = "okay";
	phy1: ethernet-phy@1 {
		rxc-skew-ps = <1060>;
		txc-skew-ps = <1800>;
		reg = <0>;
	};
};

&usbdrd30 {
	pinctrl-names = "default";
	pinctrl-0 = <&usb_pins>;
	dr_mode = "host"; /*host or peripheral*/
	status = "disabled";
};

&sfctemp {
	status = "okay";
};
