// SPDX-License-Identifier: GPL-2.0 OR MIT
/*
 * Copyright (C) 2022 StarFive Technology Co., Ltd.
 * Copyright (C) 2022 Hal Feng <hal.feng@starfivetech.com>
 */

/dts-v1/;
#include "jh7110-common.dtsi"

&i2c5 {
	pmic: jh7110_evb_reg@50 {
		compatible = "x-powers,axp15060";
		reg = <0x50>;
	};
};

&pcie0 {
	power-gpios = <&gpio 32 GPIO_ACTIVE_HIGH>;
	reset-gpios = <&gpio 26 GPIO_ACTIVE_LOW>;
	status = "disabled";
};

&pcie1 {
	power-gpios = <&gpio 21 GPIO_ACTIVE_HIGH>;
	reset-gpios = <&gpio 28 GPIO_ACTIVE_LOW>;
	status = "disabled";
};
