// SPDX-License-Identifier: GPL-2.0 OR MIT
/*
 * Copyright (C) 2025 StarFive Technology Co., Ltd.
 * Copyright (C) 2025 Hal Feng <hal.feng@starfivetech.com>
 */

/dts-v1/;
#include "jh7110-starfive-visionfive-2-v1.3b.dts"

/ {
	model = "StarFive VisionFive 2 Lite";
	compatible = "starfive,visionfive-2-lite", "starfive,jh7110s";
};

&mmc0 {
	/delete-property/ cap-mmc-highspeed;
	/delete-property/ mmc-ddr-1_8v;
	/delete-property/ mmc-hs200-1_8v;
	/delete-property/ cap-mmc-hw-reset;
	/delete-property/ vmmc-supply;
	/delete-property/ vqmmc-supply;
	/delete-property/ non-removable;
	bus-width = <4>;
	no-sdio;
	no-mmc;
	cd-gpios = <&sysgpio 41 GPIO_ACTIVE_LOW>;
	disable-wp;
	cap-sd-highspeed;
};

&mmc0_pins {
	/delete-node/ rst-pins;
};

&mmc1 {
	/delete-property/ no-sdio;
	/delete-property/ no-mmc;
	/delete-property/ cd-gpios;
	/delete-property/ disable-wp;
	/delete-property/ post-power-on-delay-ms;
	max-frequency = <50000000>;
	#address-cells = <1>;
	#size-cells = <0>;
	non-removable;
	keep-power-in-suspend;
	gpio_wl_reg_on = <&sysgpio 33 GPIO_ACTIVE_LOW>;

	brcmf: bcmdhd_wlan {
		compatible = "bcmdhd_wlan";
		gpio_wl_host_wake = <&sysgpio 34 GPIO_ACTIVE_HIGH>;
	};
};

&gmac1 {
	status = "disabled";
};

&panel_radxa {
	/delete-property/ reset-gpio;
	/delete-property/ enable-gpio;
};

&pcie0 {
	status = "disabled";
};

&pciephy0 {
	starfive,sys-syscon = <&sys_syscon 0x18>;
	starfive,stg-syscon = <&stg_syscon 0x148 0x1f4>;
};

&pwmdac {
	status = "disabled";
};

&pwmdac_codec {
	status = "disabled";
};

&sound3 {
	status = "disabled";
};

&syscrg {
	assigned-clock-rates = <500000000>, <1250000000>;
};

&sysgpio {
	uart1_pins: uart1-0 {
		tx-pins {
			pinmux = <GPIOMUX(22, GPOUT_SYS_UART1_TX,
					      GPOEN_ENABLE,
					      GPI_NONE)>;
			bias-disable;
			drive-strength = <12>;
			input-disable;
			input-schmitt-disable;
			slew-rate = <0>;
		};

		rx-pins {
			pinmux = <GPIOMUX(23, GPOUT_LOW,
					      GPOEN_DISABLE,
					      GPI_SYS_UART1_RX)>;
			bias-pull-up;
			drive-strength = <2>;
			input-enable;
			input-schmitt-enable;
			slew-rate = <0>;
		};

		cts-pins {
			pinmux = <GPIOMUX(25, GPOUT_LOW,
					      GPOEN_DISABLE,
					      GPI_SYS_UART1_CTS)>;
			input-enable;
		};

		rts-pins {
			pinmux = <GPIOMUX(24, GPOUT_SYS_UART1_RTS,
					      GPOEN_ENABLE,
					      GPI_NONE)>;
			input-enable;
		};
	};

	usb0_pins: usb0-0 {
		power-pins {
			pinmux = <GPIOMUX(26, GPOUT_HIGH,
					      GPOEN_ENABLE,
					      GPI_NONE)>;
			input-disable;
		};
	};
};

&touchscreen {
	/delete-property/ irq-gpios;
	/delete-property/ reset-gpios;
};

&uart1 {
        pinctrl-names = "default";
        pinctrl-0 = <&uart1_pins>;
        status = "okay";
};

&usb0 {
	clocks = <&stgcrg JH7110_STGCLK_USB0_LPM>,
		 <&stgcrg JH7110_STGCLK_USB0_STB>,
		 <&stgcrg JH7110_STGCLK_USB0_APB>,
		 <&stgcrg JH7110_STGCLK_USB0_AXI>,
		 <&stgcrg JH7110_STGCLK_USB0_UTMI_APB>,
		 <&stgcrg JH7110_STGCLK_PCIE0_APB>;
	clock-names = "lpm", "stb", "apb", "axi", "utmi_apb", "phy";
	resets = <&stgcrg JH7110_STGRST_USB0_PWRUP>,
		 <&stgcrg JH7110_STGRST_USB0_APB>,
		 <&stgcrg JH7110_STGRST_USB0_AXI>,
		 <&stgcrg JH7110_STGRST_USB0_UTMI_APB>,
		 <&stgcrg JH7110_STGRST_PCIE0_APB>;
	reset-names = "pwrup", "apb", "axi", "utmi_apb", "phy";
	pinctrl-names = "default";
	pinctrl-0 = <&usb0_pins>;
	dr_mode = "host";
	xhci-lowmem-pool;
};

&usb_cdns3 {
	phys = <&usbphy0>, <&pciephy0>;
	phy-names = "cdns3,usb2-phy", "cdns3,usb3-phy";
};
