# SPDX-License-Identifier: GPL-2.0-only
config SND_SOC_STARFIVE
	tristate "Audio support for StarFive SoC"
	depends on COMPILE_TEST || SOC_STARFIVE
	help
	  Say Y or M if you want to add support for codecs attached to
	  the Starfive SoCs' Audio interfaces. You will also need to
	  select the audio interfaces to support below.

config SND_SOC_JH7110_PWMDAC
	tristate "JH7110 PWMDAC module"
	depends on HAVE_CLK && SND_SOC_STARFIVE
	select SND_SOC_GENERIC_DMAENGINE_PCM
	help
	  Say Y or M if you want to add support for JH7110 pwmdac driver.

config SND_SOC_JH7110_PWMDAC_TRANSMITTER
	tristate "JH7110 PWMDAC transmitter dit codecs"
	depends on SND_SOC_JH7110_PWMDAC
	default SND_SOC_JH7110_PWMDAC
	help
	  Say Y or M if you want to add support for JH7110 pwmdac transmitter dit driver.

config SND_SOC_JH7110_PWMDAC_PCM
	bool "PCM PIO extension for PWMDAC"
	depends on SND_SOC_JH7110_PWMDAC
	help
	  Say Y or N if you want to add a custom ALSA extension that registers
	  a PCM and uses PIO to transfer data.

config SND_SOC_JH7110_TDM
	tristate "JH7110 TDM device driver"
	depends on HAVE_CLK && SND_SOC_STARFIVE
	select SND_SOC_GENERIC_DMAENGINE_PCM
	help
	  Say Y or M if you want to add support for StarFive TDM driver.
