# SPDX-License-Identifier: GPL-2.0-only
#
# Phy drivers for StarFive platforms
#

config PHY_STARFIVE_DPHY_RX
	tristate "StarFive D-PHY RX Support"
	select GENERIC_PHY
	select GENERIC_PHY_MIPI_DPHY
	help
	  Choose this option if you have a StarFive D-PHY in your
	  system. If M is selected, the module will be called
	  phy-starfive-dphy-rx.
